body {
    font-family:monospace;
    background-color: #fff;
    background-image: linear-gradient(0deg, transparent 79px, #abced4 81px, transparent 81px);
    background-image: linear-gradient(#eee .05em, transparent .05em);
    background-size: 100% 1.2em;
    background-color: rgb(255, 255, 255); 
    background-image: -webkit-linear-gradient(0deg, transparent 79px, rgb(171, 206, 212) 79px, rgb(171, 206, 212) 81px, transparent 81px); 
    background-image: -webkit-linear-gradient(top, rgb(238, 238, 238) 0.05em, transparent 0.05em);
}
#border {
    border-left:solid #abced4 2px;
    height:100%;
    margin-left:25px;
    padding-right:5px;
    float:left;
}
#content {
    width:368px;
    margin-right:auto;
    margin-left:auto;
}
#rand {
   background: none repeat scroll 0 0 #fff;
   border: 5px solid #5A8F00;
   border-radius:10px 10px 10px 10px;
   color: #333;
   margin:1em 0em 3em;
   padding:15px;
   position:relative;
   text-align:center;
}
#rand:before{
   border-color: #5A9f00 transparent;
   border-style: solid;
   border-width: 0 20px 20px;
   bottom: auto;
   content: "";
   display: block;
   left:auto;
   position: absolute;
   width: 0;
   top: -20px;
}
#rand:after{
   border-color: #fff transparent;
   border-style: solid;
   border-width: 0 13px 13px;
   bottom: auto;
   content:"";
   display: block;
   left: 22px;
   position: absolute;
   width: 0;   
   top:-13px;
}
#pass {
    padding-top:10px;
    padding-bottom:10px;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    word-wrap:break-word;
}
input{
    font-family:monospace;
    display:block;
}
input[type=text]{
    border:0;
    width:155px;
    margin-right:auto;
    margin-left:auto;
    margin-top:15px;
    margin-bottom:15px;
}
input[type=submit]{
    margin-left:auto;
    margin-right:47px;
    width:102px;
}
#warning {
    font-size:10px;
    margin-left:auto;
    width:204px;
    margin-right:30px;
}
#footer p{
    width:414px;
    margin-left:auto;
}